header:not(:last-child) {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.opacity-medium {
  opacity: 0.5;
}

div.slide-wrapper:last-child .slide {
  background: url("images/invite.png");
  background-size: cover;
}

.slide {
    background-color: #404040;
}

ul, p {
    max-width: 85%;
}

header > h1 {
    flex-grow: 1;
}
